<!Doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title> {{ title }}</title>
    {# CSS Reference #}
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet">
    {# Use the css block to create any references for CSS #}
    {% block css %}
    {% endblock %}
</head>
<body>
<header>
    {% include "topnav.html" %}
    {# Use the header block to extend any header properties #}
    {% block header %}
    {% endblock %}
</header>

<main>
    {# Use the main block to override any main content #}
    {% block main %}
    {% endblock %}
</main>

<footer>
    {# Use the footer block to override any main content #}
    {% block footer %}
    {% endblock %}
</footer>
</body>
</html>